body {
    font-size: 14px;
  }
  
  #card_box_heading {
    color: #bdbdbd;
    text-align: center;
    text-transform: uppercase;
    margin: 16px;
    font-size: 22px;
  }

  .raise_doubt_button {
	background-color: #ffffff;
	border: 0;
	color: #2196f3;
	font-weight: bold;
	outline: none;
	padding: 8px;
    text-transform: uppercase;
    float: right;
}

.raise_doubt_button:hover,
.raise_doubt_button:focus {
	background-color: #eee;
}

.list-group {
	max-width: 500px;
	margin: auto;
	margin-bottom: 32px;
}

.subject_tag {
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: white;
	display: inline-block;
	padding: 4px;
	box-shadow: 0px 3px 6px #ddd;
}

/* For mobile screens */
.video-frame {
	min-width: 320px;
	min-height: 240px;
}

.search-lectures-input {
	margin: auto;
	box-shadow: 0px 0px 20px #ccc;
}

@media (min-width: 768px) {
	.video-frame {
		min-width: 480px;
		min-height: 360px;
	}
}

@media (min-width: 992px) {
	.video-frame {
		min-width: 640px;
		min-height: 480px;
	}

	.search-lectures-input {
		max-width: 40%;
	}
}

@media screen and (max-width: 1024px) {
    
}

html, body {
	z-index: 0 !important;
	overflow: scroll !important;
	-webkit-user-drag: auto;
}