/* codepen */


/*——————————————
Global
———————————————*/


  
  /*——————————————
  TimeLine CSS
  ———————————————*/
  
  
  /* Base */
  
  section.timeline-outer {
    width: 80%;
    margin: 0 auto;
  }
  
  h1.header {
    font-size: 50px;
    line-height: 70px;
  }
  
  
  /* Timeline */
  
  #timeline {
    padding-left: 160px;
  }
  
  .timeline {
    border-left: 8px solid #42A5F5;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #333;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 20px;
    list-style: none;
    text-align: left;
  }
  
  .timeline h1,
  .timeline h2,
  .timeline h3 {
    font-size: 1.4em;
  }
  
  .timeline .event {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline .event:before {
    left: -180px;
    color: #212121;
    content: attr(data-date);
    text-align: right;
    /*  font-weight: 100;*/
    font-size: 12px;
    min-width: 120px;
    color: grey;
  }
  
  .ticket-reply-date {
  display: none;
  color: grey;
  font-size: 12px;
  }
  
  .timeline .event:after {
    box-shadow: 0 0 0 8px #42A5F5;
    left: -30px;
    background: #212121;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
  
  .text-success{
      color:#1cc88a!important
    }

  a.text-success:focus,a.text-success:hover{
      color:#13855c!important
    }

    .font-weight-bold {
        font-weight: 700!important;
    }
  
  /**/
  
  
  /*——————————————
  Responsive Stuff
  ———————————————*/
  
  @media (max-width: 945px) {
    #timeline {
        padding-left: 0px;
    }
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 0;
        position: relative;
        font-size: 13px;
        display: none;
    }
    .ticket-reply-date {
      display: block;
      color: grey;
      font-size: 12px;
    }
    .timeline h3 {
        font-size: 16px;
    }
    section.lab h3.card-title {
        padding: 5px;
        font-size: 16px
    }
  }
  
  @media (max-width: 768px) {
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 0;
        font-size: 13px;
        position: relative;
    }
    .timeline .event:nth-child(1)::before,
    .timeline .event:nth-child(3)::before,
    .timeline .event:nth-child(5)::before {
        top: 18px;
    }
    .timeline h3 {
        font-size: 16px;
    }
  }
  
  
  /*——————————————
  others
  ———————————————*/
  
  a.portfolio-link {
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .document-editor__editable-container{
    border: 1px solid #B8B9C2;
  }

  .ck-rounded-corners 
  .ck.ck-editor__editable:not(.ck-editor__nested-editable), 
  .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners{
    height: 200px;
    font-family: "Times New Roman", Times, serif;
    color: black !important;
  }

