@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500&display=swap);
:root {
  --bs-blue: #153d77;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #28a745;
  --bs-teal: #20c997;
  --bs-cyan: #17a2b8;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #153d77;
  --bs-secondary: #6f42c1;
  --bs-tertiary: #669ae5;
  --bs-success: #28a745;
  --bs-info: #20c997;
  --bs-warning: #fd7e14;
  --bs-danger: #dc3545;
  --bs-light: #e9ecef;
  --bs-dark: #153d77;
  --bs-font-sans-serif: "Hind Vadodara" Arial, sans-serif;
  --bs-font-monospace: "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
}
*,
:after,
:before {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #f5f7f9;
  color: #3e4676;
  font-family: Karla, Roboto, sans-serif !important;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

/* Dark Mode */
.dark_mode {
  background-color: #323232d4;
}

/* Navbar */
.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.nav-link {
  cursor: pointer;
  color: #153d77;
  display: block;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.navbar-edofox-theme .navbar-text {
  color: #fff;
}
.navbar-edofox-theme .navbar-text a,
.navbar-edofox-theme .navbar-text a:hover {
  color: #fff;
}
.nav-item .indicator {
  background: #fd7e14;
  border-radius: 50%;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.05);
  display: block;
  height: 9px;
  position: absolute;
  right: 0;
  top: 18px;
  transition: top 0.1s ease-out;
  width: 9px;
}
.nav-item:hover .indicator {
  top: 15px;
}
.nav-item a:focus {
  outline: 0;
}

/* Dropdown Menu */

.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle:empty:after {
  margin-left: 0;
}
.dropdown-toggle:before {
  vertical-align: 0;
}
.dropdown-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
}

.dropdown-toggle:after {
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.3em solid;
  content: "";
  margin-left: 0.255em;
  vertical-align: 0.255em;
}
.dropdown-toggle:empty:after {
  margin-left: 0;
}
.dropdown-menu {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  color: #153d77;
  display: none;
  font-size: 0.9375rem;
  list-style: none;
  margin: 0;
  min-width: 10rem;
  padding: 0.5rem 0;
  position: absolute;
  text-align: left;
  z-index: 1000;
}
.dropdown-menu[data-bs-popper] {
  left: -120px;
  margin-top: 0.125rem;
  top: 100%;
}
.dropdown-menu-start {
  --bs-position: start;
}
.dropdown-menu-start[data-bs-popper] {
  left: 0;
  right: auto;
}
.dropdown-menu-end {
  --bs-position: end;
}
.dropdown-menu-end[data-bs-popper] {
  left: auto;
  right: 0;
}
.dropdown-item {
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
}
.dropdown-menu-lg {
  min-width: 20rem;
}
.dropdown .list-group .list-group-item {
  border-width: 0 0 1px;
  margin-bottom: 0;
}
.dropdown .list-group .list-group-item:first-child,
.dropdown .list-group .list-group-item:last-child {
  border-radius: 0;
}
.dropdown .list-group .list-group-item:hover {
  background: #f8f9fa;
}
.dropdown-menu-header {
  border-bottom: 1px solid #dee2e6;
  font-weight: 500;
  padding: 0.75rem;
  text-align: center;
}
.dropdown-menu-footer {
  display: block;
  font-size: 0.75rem;
  padding: 0.5rem;
  text-align: center;
}

.dropdown-menu-end .dropdown-item {
  color: #153d77;
}

/* Alert, Badge, breadcrumb and button */

.alert-icon {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.95rem;
}
.alert-message {
  box-sizing: border-box;
  padding: 0.95rem;
  width: 100%;
}
.avatar {
  height: 40px;
  width: 40px;
}
.avatar-title {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.badge {
  color: #fff;
}
.badge.rounded-pill {
  padding-left: 0.65em;
  padding-right: 0.65em;
}
.breadcrumb-item a {
  color: #dee2e6;
  font-weight: 400;
}
.breadcrumb-item.active {
  color: #fff;
  font-weight: 500;
}
.btn-pill {
  border-radius: 10rem;
}
.btn-square {
  border-radius: 0;
}
.btn-link:not(:hover) {
  text-decoration: none;
}

/* SideBar CSS */

.offcanvas-header {
  background: #ed4c05;
  color: #fff;
  padding: 0.3rem 0.3rem;
}

.sidebar {
  border-right: 0;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.05);
  max-width: 250px;
  min-width: 250px;
  transition: margin-left 0.3s ease-in-out, left 0.3s ease-in-out,
    margin-right 0.3s ease-in-out, right 0.3s ease-in-out;
}
.sidebar-brand,
.sidebar-brand:hover {
  background: #ed4c05;
  color: #fff;
  display: block;
  font-size: 1.175rem;
  font-weight: 500;
  padding: 0.5rem;
  text-decoration: none;
  width: 100%;
}
.sidebar-brand:hover svg,
.sidebar-brand svg {
  fill: #153d77;
  height: 32px;
  margin-right: 0.25rem;
  width: 32px;
  max-width: 32px;
}
.sidebar-user {
  background: #fff;
  color: #153d77;
  padding: 1.5rem 1rem 1rem;
  text-align: center;
}
.sidebar-user img {
  height: 64px;
  width: 64px;
  max-width: 64px;
}
.sidebar-content {
  height: 100%;
  min-height: 100%;
  transition: margin-left 0.3s ease-in-out, left 0.3s ease-in-out,
    margin-right 0.3s ease-in-out, right 0.3s ease-in-out;
}
.sidebar-content,
.sidebar-nav {
  background: #fff;
  display: flex;
  flex-direction: column;
}
.sidebar-nav {
  flex: 1;
  justify-content: flex-start;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.sidebar-link,
a.sidebar-link {
  background: transparent;
  border-radius: 0.2rem;
  color: #6c757d;
  cursor: pointer;
  display: block;
  font-weight: 400;
  margin: 0 0.5rem;
  padding: 0.65rem 0.75rem;
  position: relative;
  text-decoration: none;
  transition: background 0.1s ease-in-out;
}
.sidebar-link .fab,
.sidebar-link .fal,
.sidebar-link .far,
.sidebar-link .fas,
.sidebar-link svg,
a.sidebar-link .fab,
a.sidebar-link .fal,
a.sidebar-link .far,
a.sidebar-link .fas,
a.sidebar-link svg {
  color: #153d77;
  margin-right: 0.75rem;
}
.sidebar-link:focus {
  outline: 0;
}
.sidebar-link:hover {
  background: #fff;
  color: #212529;
}
.sidebar-link:hover .fab,
.sidebar-link:hover .fal,
.sidebar-link:hover .far,
.sidebar-link:hover .fas,
.sidebar-link:hover svg {
  color: #153d77;
}
.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active > .sidebar-link {
  background: #e9ecef;
  color: #212529;
}
.sidebar-item.active .sidebar-link:hover .fab,
.sidebar-item.active .sidebar-link:hover .fal,
.sidebar-item.active .sidebar-link:hover .far,
.sidebar-item.active .sidebar-link:hover .fas,
.sidebar-item.active .sidebar-link:hover svg,
.sidebar-item.active > .sidebar-link .fab,
.sidebar-item.active > .sidebar-link .fal,
.sidebar-item.active > .sidebar-link .far,
.sidebar-item.active > .sidebar-link .fas,
.sidebar-item.active > .sidebar-link svg {
  color: #153d77;
}
.sidebar-dropdown .sidebar-link {
  background: #fff;
  color: #6c757d;
  font-size: 90%;
  font-weight: 400;
  margin: 0 0.5rem;
  padding: 0.35rem 1.5rem 0.35rem 2.75rem;
}
.sidebar-dropdown .sidebar-item.active .sidebar-link,
.sidebar-dropdown .sidebar-item .sidebar-link:hover {
  background: #fff;
  color: #212529;
  font-weight: 400;
}
.sidebar [data-bs-toggle="collapse"] {
  position: relative;
}
.sidebar [data-bs-toggle="collapse"]:before {
  border: solid;
  border-width: 0 0.1rem 0.1rem 0;
  content: " ";
  display: inline-block;
  padding: 2.5px;
  position: absolute;
  right: 1.25rem;
  top: 1.2rem;
  transform: rotate(-45deg);
  transition: all 0.2s ease-out;
}
.sidebar [aria-expanded="true"]:before,
.sidebar [data-bs-toggle="collapse"]:not(.collapsed):before {
  transform: rotate(45deg);
}
.sidebar-toggle {
  cursor: pointer;
  height: 26px;
  margin-left: 0.5rem;
  width: 26px;
}
.sidebar.toggled {
  margin-left: -250px;
}
.sidebar.toggled .sidebar-content {
  left: -250px;
}

.text-right {
  text-align: right !important;
}

@media (min-width: 1px) and (max-width: 991.98px) {
  .sidebar {
    margin-left: -250px;
  }
  .sidebar .sidebar-content {
    left: -250px;
  }
  .sidebar.toggled {
    margin-left: 0;
  }
  .sidebar.toggled .sidebar-content {
    left: 0;
  }
  .sidebar-collapsed {
    margin-left: 0;
  }
  .sidebar-collapsed .sidebar-content {
    left: 0;
  }
  .sidebar-collapsed.toggled {
    margin-left: -250px;
  }
  .sidebar-collapsed.toggled .sidebar-content {
    left: -250px;
  }
}
.sidebar-header {
  background: transparent;
  color: #adb5bd;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.375rem 1.5rem;
  text-transform: none;
}
.sidebar-badge {
  position: absolute;
  right: 15px;
  top: 13px;
}
.sidebar-dropdown .sidebar-badge {
  top: 7px;
}
.sidebar-right.toggled {
  margin-left: auto;
  margin-right: -250px;
}
.sidebar-right.toggled .sidebar-content {
  left: auto;
  right: -250px;
}
@media (min-width: 1px) and (max-width: 991.98px) {
  .sidebar-right {
    margin-left: auto;
    margin-right: -250px;
  }
  .sidebar-right .sidebar-content {
    left: auto;
    right: -250px;
  }
  .sidebar-right.toggled {
    margin-left: auto;
    margin-right: 0;
  }
  .sidebar-right.toggled .sidebar-content {
    left: auto;
    right: 0;
  }
  .sidebar-right-collapsed {
    margin-left: auto;
    margin-right: 0;
  }
  .sidebar-right-collapsed .sidebar-content {
    left: auto;
    right: 0;
  }
  .sidebar-right-collapsed.toggled {
    margin-left: auto;
    margin-right: -250px;
  }
  .sidebar-right-collapsed.toggled .sidebar-content {
    left: auto;
    right: -250px;
  }
}
.splash {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.splash .splash-icon {
  background: #153d77;
  display: block;
  height: 100%;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(0) translateY(-100%);
  transition: transform 0.5s;
  width: 100%;
  z-index: 100;
}
.splash.active .splash-icon {
  transform: translateX(0) translateY(0);
}
.splash.active .splash-icon:after {
  -webkit-animation: splash-spinner 1.2s linear infinite;
  animation: splash-spinner 1.2s linear infinite;
  border: 5px solid #fff;
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  content: "";
  display: block;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
}
@-webkit-keyframes splash-spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes splash-spinner {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* END of Sidebar CSS */

/* Card CSS */
.card {
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  /* box-shadow: 0 2px 4px rgba(126, 142, 177, 0.12); */
  margin-bottom: 1.5rem;
}
.card-header {
  background: transparent;
}
.card-body {
  padding-top: 0.75rem;
}
.card-title {
  color: #3e4676;
  font-size: 0.9375rem;
  line-height: 1.5;
  font-weight: bold;
}
.card-subtitle {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.card_box_link {
  color: #757575;
  font-weight: 600;
  text-decoration: none;
}

.card_box_link:hover,
.card_box_link:focus {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  color: #616161;
  text-decoration: none;
  cursor: pointer;
}
/* END Card CSS */

/* Background Colors CSS */
.bg-primary-light {
  background-color: #5c93e3 !important;
}
.bg-secondary-light {
  background-color: #855fca !important;
}
.bg-tertiary-light {
  background-color: #87afea !important;
}
.bg-success-light {
  background-color: #2fc652 !important;
}
.bg-info-light {
  background-color: #31deab !important;
}
.bg-warning-light {
  background-color: #fd933a !important;
}
.bg-danger-light {
  background-color: #e25663 !important;
}
.bg-light-light {
  background-color: #fff !important;
}
.bg-dark-light {
  background-color: #1a4d98 !important;
}
.bg-primary-dark {
  background-color: #2469ce !important;
}
.bg-secondary-dark {
  background-color: #5e37a6 !important;
}
.bg-tertiary-dark {
  background-color: #4684df !important;
}
.bg-success-dark {
  background-color: #218838 !important;
}
.bg-info-dark {
  background-color: #1ba87e !important;
}
.bg-warning-dark {
  background-color: #e96b02 !important;
}
.bg-danger-dark {
  background-color: #c82333 !important;
}
.bg-light-dark {
  background-color: #d3d9df !important;
}
.bg-dark-dark {
  background-color: #0f2c56 !important;
}
/* END of Background Colors */
.rounded-circle {
  border-radius: 50% !important;
}

#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  width: 100%;
  /* overflow-x: hidden; */
}

#wrapper #content-wrapper #content {
  flex: 1 0 auto;
  padding: 8px;
}

.flex-container {
  display: flex;
}

.flex-container-space-between {
  display: flex;
  justify-content: space-between;
}

/* Breadcrumb CSS */

.breadcrumb_div {
  display: flex;
}

.breadcrumb_custom {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0.35rem;
}

.breadcrumb_item {
  display: flex;
}

.breadcrumb_item + .breadcrumb_item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #636c72;
  content: "/";
}

/* Material Icons CSS */

/* Add button */

.action_button_plus_icon {
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
  background-color: #ff4081;
  border-radius: 50%;
  color: #fff;
  padding: 4px;
  align-items: center;
}

.action_button_plus_icon:hover {
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
}

.custom_add_btn {
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
  background-color: #ff4081;
  border-radius: 50%;
  color: #fff;
  padding: 8px;
  font-size: 16px;
}

.custom_add_btn:hover {
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
}

/* Edit button */
.action_button_edit_custom {
  cursor: pointer;
}

.action_button_edit_custom:hover {
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 8px * 2 #536dfe;
}

.action_button_edit_icon {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 4px * 2 #536dfe;
  background-color: #536dfe;
  border-radius: 50%;
  color: #fff;
  padding: 4px;
}

.action_button_edit_icon:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 8px * 2 #536dfe;
}

.action_button_delete_icon {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 4px * 2 #ff4081;
  background-color: #ff4081;
  border-radius: 50%;
  color: #fff;
  padding: 4px;
  font-size: 16px;
  border: none;
}

.action_button_delete_icon:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14), 0 8px 8px * 2 #ff4081;
}

/* action btn text */
.action_button_text {
  background-color: #212121;
  border-radius: 3px;
  color: #fff;
  right: 75px;
  font-size: 14px;
  opacity: 0.8;
  padding: 5px 9px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

/* Export btn */
.action_button_export_icon {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 4px * 2 rgba(0, 0, 0, 0.28);
  background-color: #21a366;
  border-radius: 50%;
  color: #fff;
  padding: 8px;
  font-size: 18px;
}

/* Print btn */
.action_button_print_icon {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 4px * 2 rgba(0, 0, 0, 0.28);
  background-color: #21a366;
  border-radius: 50%;
  color: #fff;
  padding: 8px;
  font-size: 18px;
}
.material-icon-small {
  font-size: 16px !important;
}
/* End - Material Icons CSS */

/* Custom Table CSS */

.table_custom {
  overflow: visible;
}

.table_custom table tr th {
  font-size: 12px;
  font-weight: 700;
  color: #bdbdbd;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 8px;
  vertical-align: middle;
  outline: none !important;
}

.table_custom table tr td {
  padding: 4px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
/* End - Custom Table CSS */

.custom_btn {
  background-color: transparent;
  border: none;
}

/* Footer CSS */

.sticky-footer {
  position: fixed;
  min-height: 30px;
  bottom: 0;
  width: 100%;
  background-color: #537fce;
  color: white;
}

.sticky-footer a,
.sticky-footer a:hover,
.sticky-footer a:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* END of Footer CSS */

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.export-icon-group {
  display: inline-block;
}

.export-icon {
  cursor: pointer;
  /* margin-left: 10px; */
  margin-right: 10px;
  height: 28px;
  width: 28px;
}

/* Upload Document Resource CSS */
.file_structure_append_subdiv {
  margin: 8px auto;
}
.add_file_structure {
  cursor: pointer;
  padding: 8px;
  font-size: 22px;
  color: blueviolet;
}

.remove_file_structure {
  cursor: pointer;
  padding: 8px;
  font-size: 22px;
  color: red;
}

/* Font Awesome CSS */

.fa-play-circle {
  padding: 8px;
  color: #5b51d8;
}
.fa-file-alt {
  padding: 8px;
  color: #e91e63;
}

.fa-list-ol {
  padding: 8px;
  color: #4caf50;
}

/* Datatable Custom Styles */
.dataTables_processing {
  z-index: 105;
}

/* Datatable CSS - moved searchbox and page length */
#custom_data_tble_filter,
#custom_data_tble_length {
  display: flex !important;
  flex-direction: row !important;
}

#custom_data_tble_filter > label,
#custom_data_tble_length > label {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

#custom_data_tble_filter > label > input,
#custom_data_tble_length > label > select {
  margin: auto 8px !important;
}

/* Hide table export option buttons */
#custom_data_tble_wrapper .dt-buttons {
  display: none;
}

.form-check-custom {
  margin-top: 16px;
}

.form_label {
  cursor: pointer;
}

#shareStatus {
  padding: 8px 16px;
  color: rgba(38, 226, 38, 0.829);
}

.success_badge {
  color: rgba(38, 226, 38, 0.829);
  float: right;
}

.navbar .navbar-brand {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.topbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}

#userDropdown-menu {
  left: -84px;
}

.topbar .nav-item .nav-link {
  height: 3.375rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}

.edo-table {
  font-size: 12px;
}

@media (min-width: 576px) {
  .topbar .dropdown {
    position: relative;
  }
}

/*error color style*/
.error {
  color: #ff6666;
  font-size: 14px;
  position: relative;
  line-height: 1;
  width: 100%;
  padding-top: 8px;
  width: 100% !important;
  display: block;
}

/* ----------------------------------------------------------------------
  Material Design Ripple Effect
------------------------------------------------------------------------- */
.ripple-effect {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  z-index: 1;
}

.animated {
  animation: ripple 0.6s linear;
}

/* ----------------------------------------------------------------------
  Cards with various counts at the top of different pages
------------------------------------------------------------------------- */
.top-counts-block {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #eee;
  display: flex;
  align-items: center;
  border: 2px solid #eee;
  margin-bottom: 8px;
}

.top-counts-block .counts-subtitle {
  color: #aaa;
  font-size: 12px;
}

.top-counts-block .count-number {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.primary_add_button {
  background-color: #5b51d8;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  margin: 0;
  outline: none;
  padding: 8px;
  text-transform: uppercase;
  transition-duration: 0.2s;
}

.primary_add_button:hover,
.primary_add_button:focus {
  box-shadow: 0px 10px 20px #bdbdbd;
  color: #ffffff;
}

/* Custom Loader */
#custom_loader {
  margin: 8px;
}

/* Navbar Search Box CSS */
.top-search-box {
  position: relative;
}

/* Search box input group */
.top-search-box .search-box-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
}

/* Search box input field  */
.top-search-box .search_input {
  min-width: 300px;
  width: 80%;
  padding: 0.375rem 0.75rem;
  padding-right: 3.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Reset Search */
.clear_search_routes {
  position: absolute;
  z-index: 1;
  top: 0.4rem;
  right: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.4rem;
  font-size: 16px;
  border-radius: 50%;
  text-align: center;
  color: rgb(72, 172, 253);
  font-weight: normal;
  cursor: pointer;
}

/* Placeholder CSS */
.search-box-input-group::after {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  font-size: 0.75rem;
  color: #6c757d;
  content: "Ctrl + /";
  border: 1px solid #dee2e6;
  border-radius: 0.125rem;
}

/* Search menu */
.top-search-box .suggestion-search-menu {
  position: absolute;
  left: 0;
  padding: 0;
  background: #fff;
  color: #212121;
  top: 45px;
  width: 100%;
  -webkit-transition: all 0.2s cubic-bezier(0.68, 0, 0.265, 1);
  transition: all 0.2s;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 0 0;
  transform-origin: top left;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  margin-top: 5px;
  border-radius: 3px;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}

.top-search-box .open.suggestion-search-menu {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.68, 0, 0.265, 1);
}

.top-search-box .suggestion-search-menu li {
  display: block;
  width: 100%;
  opacity: 0;
  transform: translateY(-20px);
  color: #212121;
}

.top-search-box .open.suggestion-search-menu li {
  display: block;
  transition: all 0.4s;
  opacity: 1;
  transform: translateY(0px);
}

/* Suggestion links */
.suggestion_link {
  text-decoration: none;
  color: #2078f9;
}

.suggestion_link:hover {
  text-decoration: none;
  color: #2078f9;
}

/* awesomplete list css */
.awesomplete > ul > li {
  position: relative;
  padding: 0.2em 0.5em;
  cursor: pointer;
  color: black;
}

.awesomplete > ul > li:hover {
  background: hsl(200, 40%, 80%);
  color: black;
}

.awesomplete > ul > li[aria-selected="true"] {
  background: hsl(205, 40%, 40%);
  color: white;
}

.more_options_btn_link {
  cursor: pointer;
}

.nav-disabled-link,
.nav-disabled-link:hover,
.nav-disabled-link:focus,
.nav-disabled-link:active {
  cursor: not-allowed;
  color: #8c8c8c;
}
