.test_card_box{
    display: block;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .08);
    margin: auto;
    max-width: 600px;
    padding: 16px;
}


.form_div{
    padding: 8px;
}
 